<div class="page" ng-controller="empresaFilialCtrl">
    <div class="row ui-section">
        <div class="col-lg-12 clearfix">
            <h2 class="section-header" style="float: left;">Empresas Filiais</h2>
            <div style="float: right">
                <md-button class="md-fab md-primary" ng-href="" ng-click="showRelatorio()">
                    <md-tooltip md-direction="bottom">Relatório</md-tooltip>
                    <span class="fa fa-file-pdf-o"></span>
                </md-button>
                <md-button class="md-fab md-accent" ng-href="#!/empresaFilial/formulario">
                    <md-tooltip md-direction="bottom">Nova Empresa/Filial</md-tooltip>
                    <span class="fa fa-plus"></span>
                </md-button>
                <span class="space"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <article class="article">
                        <md-card class="no-margin-h">
                            <div layout="column">
                                <div layout-padding>
                                    <div layout layout-sm="column" class="col-md-12">
                                        <md-input-container class="col-md-9">
                                            <label>Nome/Sigla</label>
                                            <input ng-model="siglaNomeBusca" placeholder="Buscar por nome ou sigla..."
                                                ng-keypress="($event.keyCode === 13) && loadList()">
                                        </md-input-container>
                                        <div layout layout-sm="column" class="col-md-2">
                                            <div>
                                                <button href="" ng-click="tree($event)" ui-wave
                                                    class="btn-form btn btn-primary btn-w-md">
                                                    Árvore Da Empresa
                                                </button>
                                                </button>
                                            </div>
                                        </div>
                                        <div>
                                            <md-button class="md-icon-button" ng-click="limpaFiltro()">
                                                <md-tooltip md-direction="top">Limpar Filtros</md-tooltip>
                                                <md-icon>autorenew</md-icon>
                                            </md-button>
                                        </div>
                                        <div>
                                            <md-button class="md-icon-button" ng-click="loadList()">
                                                <md-tooltip md-direction="top">Atualizar</md-tooltip>
                                                <md-icon>refresh</md-icon>
                                            </md-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <md-table-container>
                                <table md-table ng-model="selected" md-progress="promise">
                                    <thead ng-if="!options.decapitate" md-head md-order="query.order"
                                        md-on-reorder="loadList">
                                        <tr md-row>
                                            <th md-column md-order-by="sigla">
                                                <span>Sigla</span>
                                            </th>
                                            <th md-column>
                                                <span>Empresa/Filial</span>
                                            </th>
                                            <th md-column>
                                                <span>Tipo de Filial</span>
                                            </th>
                                            <th md-column>
                                                <span>Ações</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row md-select="item" md-select-id="item" md-auto-select
                                            ng-repeat="item in list.data">
                                            <td md-cell>{{item.sigla}}</td>
                                            <td md-cell>{{item.nomeFilial}}</td>
                                            <td md-cell>{{item.tipoFilial}}</td>
                                            <td md-cell>
                                                <a href=""
                                                    ui-sref="empresaFilialFormularioDetalhes({ id: item.id, detalhes: true })">
                                                    <md-tooltip md-direction="top">Detalhes Cadastrais</md-tooltip>
                                                    <i class="fa fa-search fa-lg"></i>
                                                </a>
                                                <a href="" ng-if="!botoesGestao === false"
                                                    ui-sref="empresaFilialFormularioEdit({ id: item.id })">
                                                    <md-tooltip md-direction="top">Editar</md-tooltip>
                                                    <i class="fa fa-pencil fa-lg"></i>
                                                </a>
                                                <a href="" ng-if="!botoesGestao === false"
                                                    ng-click="showConfirm($event,item.id)">
                                                    <md-tooltip md-direction="top">Excluir</md-tooltip>
                                                    <i class="fa fa-trash-o fa-lg"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                            <md-table-pagination
                                md-label="{page: 'Página:', rowsPerPage: 'Registros por página:', of: 'de'}"
                                md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
                                md-total="{{list.count}}" md-on-paginate="loadList" md-page-select>
                            </md-table-pagination>
                        </md-card>
                    </article>

                </div>
            </div>
        </div>
    </div>
</div>