<section class="page-form-ele page" ng-controller="especialidadeMedicaFormCtrl">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">
                <h2 class="section-header">{{!detalhes ? 'Formulário da Especialidade Médica' : 'Detalhes da Especialidade Médica'}}</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <div layout-padding>
                                    <form name="especialidadeMedicaForm" ng-disabled="detalhes" ng-submit="save()">

                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Código</label>
                                                <input ng-disabled="detalhes" ng-required="true" ng-model="especialidadeMedica.codigo"
                                                    name="codigo" max="255">
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Nome</label>
                                                <input ng-disabled="detalhes" ng-required="true" ng-model="especialidadeMedica.nome"
                                                    max="255" name="nome">
                                            </md-input-container>
                                        </div>

                                        <audit-data show="detalhes" data="especialidadeMedica"></audit-data>

                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <button ng-if="!detalhes" type="submit" ui-wave
                                                    ng-disabled="especialidadeMedicaForm.$invalid"
                                                    class="btn btn-primary btn-w-md">Salvar</button>
                                                <p class="btn btn-default btn-w-md" ui-wave data-ng-click="goBack()">
                                                    Voltar
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>