<md-dialog style="min-width: 500px;min-height: 450px;">
	<form ng-cloak>
		<md-toolbar>
			<div style="background-color: #01722c" class="md-toolbar-tools">
				<h2>Alterar status certidão</h2>
				<span flex></span> <a href="" ng-click="cancel()"> <i class="fa fa-close"></i>
				</a>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="page">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row">

								<div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
									<md-table-container>
										<table md-table>
											<thead md-head md-order="query.order" md-on-reorder="loadList">
												<tr md-row>
													<th md-column colspan="2"><strong style="font-size: 16px">Número:
															{{certidaoStatus.numero}}/{{certidaoStatus.ano}}</strong>
													</th>
												</tr>
											</thead>
											<tbody md-body>
												<tr md-row>
													<td md-cell>Funcionário:</td>
													<td md-cell>{{certidaoStatus.funcionario.nome}}</td>
												</tr>
												<tr md-row>
													<td md-cell>Status Atual:</td>
													<td md-cell>{{certidaoStatus.statusAtual}}</td>
												</tr>

												<tr md-row>
													<td md-cell>Novo Status:</td>
													<td md-cell>
														<md-input-container flex>
															<label>Selecione Status</label>
															<md-select name="statusDialog" ng-model="statusDialog">
																<md-option ng-value=null><em>-- Selecione --</em>
																</md-option>
																<md-option ng-repeat="obj in lista.status"
																	value="{{obj.label}}">
																	{{obj.label}}
																</md-option>
															</md-select>
														</md-input-container>
													</td>
												</tr>
											</tbody>
										</table>
									</md-table-container>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="md-dialog-content text-center">
				<button class="btn btn-primary btn-w-md" ng-disabled="!statusDialog"
					ng-click="alterar()">Alterar</button>
				<button class="btn btn-default btn-w-md" ng-click="cancel()">Voltar</button>
			</div>
		</md-dialog-content>
	</form>
</md-dialog>