<section class="page-form-ele page" ng-controller="agendaMedicaRelatorioCtrl">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">
                <h2 class="section-header">Formulário do Relatório Agenda Médica
                </h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <div layout-padding>
                                    <form name="agendaMedicaForm" ng-disabled="detalhes" ng-submit="save()">

                                        <div layout layout-sm="column">
                                            <md-autocomplete ng-disabled="detalhes" flex md-no-cache="noCache"
                                                md-floating-label="Nome do Médico" md-selected-item="medico"
                                                md-search-text="searchNomeMedico" md-clear-button="true"
                                                md-items="medico in querySearchMedico(searchNomeMedico)"
                                                md-item-text="medico.descricao" md-delay="1000" md-min-length="3"
                                                md-selected-item-change="medicoSelecionado()">
                                                <md-item-template> <span md-highlight-text="searchNomeMedico"
                                                        md-highlight-flags="^i">{{medico.descricao}}
                                                    </span>
                                                </md-item-template>
                                                <md-not-found> Item "{{searchNomeMedico}}"
                                                    não encontrado. </md-not-found>
                                            </md-autocomplete>
                                        </div>

                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Especialidade Médica</label>
                                                <md-select
                                                    ng-model="agendaMedica.especialidadeMedicaId"
                                                    placeholder="Selecione uma Especialidade Médica"
                                                    data-md-container-class="selectdemoSelectHeader"
                                                    name="especialidadeMedica" multiple>
                                                    <md-select-header class="demo-select-header">
                                                    </md-select-header>
                                                    <md-optgroup label="especialidadeMedicaList">
                                                        <md-option ng-repeat="item in list.especialidadeMedicaList"
                                                            ng-value="item.id">
                                                            {{item.nome}}
                                                        </md-option>
                                                    </md-optgroup>
                                                </md-select>
                                            </md-input-container>
                                        </div>

                                        </br>

                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Data inicial</label>
                                                <md-icon class="material-icons icon-momentpicker"
                                                    ng-class="md-datepicker-calendar-icon" aria-label="md-calendar">
                                                    date_range
                                                </md-icon>
                                                <input moment-picker="agendaMedica.dataInicial"
                                                    placeholder="Insira a data inicial" name="dataInicial"
                                                    autocomplete="off"  ng-required="true"
                                                    ng-model="agendaMedica.dataInicial" format="DD/MM/YYYY"
                                                    locale="pt-br" start-view="month"
                                                    ng-model-options="{ updateOn: 'blur' }">
                                                <div ng-messages="agendaMedicaForm.dataInicial.$error" multiple
                                                    role="alert">
                                                    <div ng-message="required">Campo de preenchimento obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Data final</label>
                                                <md-icon class="material-icons icon-momentpicker"
                                                    ng-class="md-datepicker-calendar-icon" aria-label="md-calendar">
                                                    date_range
                                                </md-icon>
                                                <input moment-picker="agendaMedica.dataFinal"
                                                    placeholder="Insira a data final" name="dataFinal"
                                                    autocomplete="off" ng-disabled="!agendaMedica.dataInicial"
                                                    min-date="agendaMedica.dataInicial" ng-required="true"
                                                    ng-model="agendaMedica.dataFinal" format="DD/MM/YYYY" locale="pt-br"
                                                    start-view="month" ng-model-options="{ updateOn: 'blur' }">
                                                <div ng-messages="agendaMedicaForm.dataFinal.$error" multiple
                                                    role="alert">
                                                    <div ng-message="required">Campo de preenchimento obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>

                                        <div class="callout callout-info">
                                            <p>Após preencher os dados, clique no botão abaixo "Gerar Relatório" para
                                                visualizar o Relatório antes de imprimir."</p>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <md-button class="md-raised btn-w-md md-accent" style="width: 200px;"
                                                    ng-click="gerar()">Gerar
                                                    Relatório
                                                </md-button>
                                            </div>
                                        </div>

                                        <div class="divider divider-lg"></div>
                                        <div class="divider divider-lg divider-dashed"></div>
                                        <div class="divider divider-lg"></div>
                                        <div class="panel panel-default" ng-show="exibirRelatorio">
                                            <div class="row ui-section">
                                                <div class="col-lg-12 clearfix">
                                                    <h2 class="section-header text-center">Agenda Médica</h2>
                                                </div>
                                                <div class="col-md-12">        
                                                    <div class="row" ng-cloak>
                                                        <div class="col-md-12">
                                                            <section class="panel panel-default">
                                                                <div class="panel-body no-padding">                
                                                                    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect style="min-height : 700px">
                                                                        <md-tab ng-repeat="tab in tabs"
                                                                                ng-disabled="tab.disabled"
                                                                                label="{{tab.nome}}">
                                                                                <div class="panel panel-default">
                                                                                    <div class="panel-heading">
                                                                                        <div class="panel-title text-center">Especialidades Médicas</div>
                                                                                    </div>
                                                                                    <div class="panel-body">
                                                                                        <div class="row">
                                                                                            <div class="col-md-12 text-center">
                                                                                                <span ng-repeat="em in tab.especialidadeMedica">
                                                                                                    {{$last ? em+'.':em +','}}
                                                                                                </span>
                                                                                            </div>
                                                                                            </br>
                                                                                        </div>
                                                                                        <div class="row" style="max-height: 500px; overflow: auto;">
                                        
                                                                                            <div class="divider divider-lg divider-solid" style="margin: 15px;">
                                                                                            </div>
                                                                                            <div class="col-md-1"></div>
                                                                                                <div ng-repeat="agendaMedica in tab.lista | limitTo: query.limit : (query.page -1) * query.limit">
                                                                                                    <div class="col-md-2 text-center"
                                                                                                        style="border-right: #e2edeb dashed 1px; border-left: #e2edeb dashed 1px;">
                                                                                                        <p style="font-weight: bold;">
                                                                                                            {{agendaMedica.diaSemana | uppercase}}</p>
                                                                                                        <p>{{agendaMedica.data | date:'dd/MM/yyyy'}}</p>
                                                                                                        <div class="divider divider-dashed"></div>
                                                                                                        <span ng-repeat="agendaMedicaData in agendaMedica.horarios">
                                                                                                            <div>
                                                                                                                <md-checkbox ng-model="true" ng-disabled="true">
                                                                                                                    <span style="font-size: 16px;">{{agendaMedicaData.hora}}</span>
                                                                                                                </md-checkbox>
                                                                                                            </div>
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            <div class="col-md-1"></div>
                                                                                        </div>
                                                                                        <div class="divider"></div>
                                                                                        <md-table-pagination ng-show="tab.lista.length > 0"
                                                                                            md-label="{page: 'Página:', rowsPerPage: 'Registros por página:', of: 'de'}"
                                                                                            md-limit="query.limit" md-limit-options="limitOptions"
                                                                                            md-page="query.page" md-total="{{tab.lista.length}}" md-page-select>
                                                                                        </md-table-pagination>
                                                                                    </div>
                                                                                </div>
                                                                        </md-tab>
                                                                    </md-tabs> 
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>

                                        <audit-data show="detalhes" data="agendaMedica"></audit-data>

                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <button ng-if="!detalhes"
                                                    ng-disabled="agendaMedicaForm.$invalid || (!list.data || list.data.length === 0)"
                                                    type="submit" ui-wave class="btn btn-primary btn-w-md">
                                                    <i class="fa fa-print"></i>
                                                    <md-tooltip
                                                        ng-if="agendaMedicaForm.$invalid || (!list.data || list.data.length === 0)"
                                                        md-direction="top">
                                                        Preencha todos os campos obrigatórios.</md-tooltip>
                                                    Imprimir
                                                </button>
                                                <p class="btn btn-default btn-w-md" ui-wave data-ng-click="goBack()">
                                                    Voltar</p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>