<div class="page" ng-controller="feriasProgramacaoCtrl">
    <div class="row ui-section">
        <div class="col-lg-12 clearfix">
            <h2 class="section-header" style="float: left;">Programação de Férias</h2>
            <div style="float: right">
                <md-button class="md-fab md-accent" ng-href="#!/feriasProgramacao/feriasParaCancelar">
                    <md-tooltip md-direction="bottom">Cancelar Férias</md-tooltip>
                    <span class="fa fa-calendar-times-o"></span>
                </md-button>
                <span class="space"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <article class="article">
                        <md-card class="no-margin-h">
                            <div layout="column">
                                <div layout-padding>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>Funcionário</label>
                                            <input ng-model="search" placeholder="Buscar por Nome, CPF ou Matrícula..."
                                                ng-keypress="($event.keyCode === 13) && loadList()">
                                        </md-input-container>
                                        <md-button class="md-icon-button" ng-click="limpaFiltro()">
                                            <md-tooltip md-direction="top">Limpar Filtros</md-tooltip>
                                            <md-icon>autorenew</md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button" ng-click="loadList()">
                                            <md-tooltip md-direction="top">Atualizar</md-tooltip>
                                            <md-icon>refresh</md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                            <md-table-container>
                                <table md-table ng-model="selected" md-progress="promise">
                                    <thead ng-if="!options.decapitate" md-head md-order="query.order"
                                        md-on-reorder="loadList">
                                        <tr md-row>
                                            <th md-column>
                                                <span>Funcionário</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div ng-repeat="funcionario in list.data">
                                    <div class="accordion" ng-click="accordion()">{{funcionario.matricula}} -
                                        {{funcionario.nome}}
                                        <a href="" class="icon"
                                            ui-sref="feriasProgramacaoHistory({ funcionarioId: funcionario.id})">
                                            <md-tooltip md-direction="top">Histórico</md-tooltip>
                                            <i class="fa fa-history fa-sm"></i>
                                        </a>
                                        <a href="" class="icon"
                                            ui-sref="feriasProgramacaoFormulario({ funcionarioId: funcionario.id})">
                                            <md-tooltip md-direction="top">Adicionar</md-tooltip>
                                            <i class="fa fa-plus fa-sm"></i>
                                        </a>
                                    </div>
                                    <div class="accordion-content">
                                        <p>
                                            <md-table-container>
                                                <table md-table md-progress="promise" style="margin-top: 20px">
                                                    <thead md-head>
                                                        <tr md-row>
                                                            <th md-column>
                                                                <span>Período Aquisitivo</span>
                                                            </th>
                                                            <th md-column>
                                                                <span>Status</span>
                                                            </th>
                                                            <th md-column>
                                                                <span>Partição 1º</span>
                                                            </th>
                                                            <th md-column>
                                                                <span>Partição 2º</span>
                                                            </th>
                                                            <th md-column>
                                                                <span>Partição 3º</span>
                                                            </th>
                                                            <th md-column>
                                                                <span>Ações</span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody md-body>
                                                        <tr md-row md-select="item" md-select-id="item" md-auto-select
                                                            ng-repeat="feriasProgramada in funcionario.feriasProgramadas">
                                                            <td md-cell>{{feriasProgramada.exercicioInicio |
                                                                date:'dd/MM/yyyy'}} - {{feriasProgramada.exercicioFim |
                                                                date:'dd/MM/yyyy'}}</td>
                                                            <td md-cell>{{feriasProgramada.situacaoLabel}}</td>
                                                            <td md-cell>{{feriasProgramada.dataInicialUm |
                                                                date:'dd/MM/yyyy'}} - {{feriasProgramada.dataFinalUm |
                                                                date:'dd/MM/yyyy'}}</td>
                                                            <td md-cell>{{feriasProgramada.dataInicialDois |
                                                                date:'dd/MM/yyyy'}} - {{feriasProgramada.dataFinalDois |
                                                                date:'dd/MM/yyyy'}}</td>
                                                            <td md-cell>{{feriasProgramada.dataInicialTres |
                                                                date:'dd/MM/yyyy'}} - {{feriasProgramada.dataFinalTres |
                                                                date:'dd/MM/yyyy'}}</td>
                                                            <td md-cell>
                                                                <a ng-if="feriasProgramada.situacao == 'EM_ABERTO'"
                                                                    href=""
                                                                    ng-click="showConfirm($event, feriasProgramada)">
                                                                    <md-tooltip md-direction="top">Aprovar Férias
                                                                    </md-tooltip>
                                                                    <i class="fa fa-check-square-o fa-lg"></i>
                                                                </a>
                                                                <a
                                                                    ui-sref="feriasProgramacaoFormularioDetalhes({ feriasProgramacaoId: feriasProgramada.id, detalhes: true })">
                                                                    <md-tooltip md-direction="top">Detalhes Cadastrais
                                                                    </md-tooltip>
                                                                    <i class="fa fa-search fa-lg"></i>
                                                                </a>
                                                                <a
                                                                    ui-sref="feriasProgramacaoFormularioEdit({ feriasProgramacaoId: feriasProgramada.id, editar: true })">
                                                                    <md-tooltip md-direction="top">Editar Férias
                                                                        Programada</md-tooltip>
                                                                    <i class="fa fa-pencil fa-lg"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </md-table-container>
                                        </p>
                                    </div>
                                </div>

                </div>
                </md-table-container>
                <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Registros por página:', of: 'de'}"
                    md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
                    md-total="{{list.count}}" md-on-paginate="loadList" md-page-select></md-table-pagination>
                </md-card>
                </article>

            </div>
        </div>
    </div>
</div>
</div>