<md-dialog>
    <form ng-cloak>
        <md-toolbar>
            <div style="background-color: #01722c" class="md-toolbar-tools">
                <h2>Lista Telefônica</h2>
                <span flex></span>
                <a ng-click="cancel()">
                    <i class="fa fa-close"></i>
                </a>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-table-container>
                <table md-table ng-model="selected" md-progress="promise">
                    <thead ng-if="!options.decapitate" md-head md-order="query.order">
                        <tr md-row>
                            <th md-column  style="width: 500px;"><span>Telefone</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-auto-select ng-repeat="telefone in telefoneList">
                            <td md-cell>
                                <input ng-model="telefone" style="border: none;background: none;" ng-disabled="true" ui-br-phone-number-mask>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
                
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <div style="padding: 15px;">
                <md-button ng-click="cancel()">
                    Sair
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>