<div class="page" ng-controller="batimentoFolhaPagamentoRelatorioCtrl">
	<div class="row ui-section">
		<div class="col-lg-12 clearfix">
			<h2 class="section-header" style="float: left;">Relatório de batimento da folha de pagamento</h2>
			<!--
			<div style="float: right">
				<md-button class="md-fab md-primary" ng-href="" ng-click="showRelatorio()">
					<md-tooltip md-direction="bottom">Relatório PDF</md-tooltip> <span class="fa fa-file-pdf-o"></span>
                </md-button>
                <md-button class="md-fab md-primary" ng-href="" ng-click="showRelatorio()">
					<md-tooltip md-direction="bottom">Relatório XLS</md-tooltip> <span class="fa fa-file-excel-o"></span>
				</md-button>
				<span class="space"></span>
			</div>
			-->
		</div>
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<article class="article">
						<md-card class="no-margin-h">
							<div layout="column">
								<div layout-padding>
									<div layout layout-sm="column">
										<md-input-container flex>
											<label>Ano da Competência</label>
											<md-select name="relatorioGerencialFiltroAno" ng-change="changeAno();"
												ng-disabled="anoDisabled()" ng-model="filtroAno">
												<md-option ng-repeat="item in anoCompetenciaList" ng-value="item">
													{{item}}
												</md-option>
											</md-select>
										</md-input-container>
										<md-input-container flex>
											<label>Mês da Competência</label>
											<md-select name="relatorioGerencialFiltroCompetencia" ng-change="changeMes()"
												ng-disabled="competenciaDisabled()"
												ng-model="filtroCompetencia">
												<md-option ng-repeat="item in competenciaList" ng-value="item">
													{{item.mesCompetenciaLabel}}
												</md-option>
											</md-select>
										</md-input-container>
										<md-input-container flex>
											<label>Tipo de Processamento</label>
											<md-select ng-disabled="tipoProcessamentoDisabled()" name="tipoProcessamento"
												ng-model="filtroTipoProcessamento" ng-required>
												<md-option ng-repeat="item in tipoProcessamentoList" ng-value="item">
													{{item.codigo}} -
													{{item.descricao}}
												</md-option>
											</md-select>
										</md-input-container>
										<md-button class="md-icon-button" ng-click="limpaFiltro()">
											<md-tooltip md-direction="top">Limpar Filtros</md-tooltip>
											<md-icon>autorenew</md-icon>
										</md-button>
										<md-button class="md-icon-button" ng-click="loadList()">
											<md-tooltip md-direction="top">Pesquisar</md-tooltip>
											<md-icon>refresh</md-icon>
										</md-button>
									</div>
								</div>
							</div>
							<md-tabs md-dynamic-height md-border-bottom md-selected="abaActive">
								<md-tab label="Órgão">
									<md-content class="md-padding">
										<md-table-container>
											<table md-table ng-model="selected" md-progress="promise">
												<thead ng-if="!options.decapitate" md-head md-order="query.order"
													md-on-reorder="loadList">
													<tr md-row>
														<th md-column><span>Cod. Órgão</span></th>
														<th md-column><span>Órgão</span></th>
														<th md-column><span>Qtd. Funcionários</span></th>
														<th md-column><span>Vantagens</span></th>
														<th md-column><span>Descontos</span></th>
														<th md-column><span>Total líquido</span></th>
														<th md-column><span>Ações</span></th>
													</tr>
												</thead>
												<tbody md-body>
													<tr md-row ng-if="dadosMatriz">
														<td md-cell>{{dadosMatriz.codigo}}</td>
														<td md-cell>{{dadosMatriz.nome}}</td>
														<td md-cell>{{dadosMatriz.quantidadeFuncionarios}}</td>
														<td md-cell>R$ {{(dadosMatriz.vantagens).toLocaleString('pt-BR', { minimumFractionDigits: 2 })}}</td>
														<td md-cell>R$ {{(dadosMatriz.descontos).toLocaleString('pt-BR', { minimumFractionDigits: 2 })}}</td>
														<td md-cell>R$ {{(dadosMatriz.totalLiquidos).toLocaleString('pt-BR', { minimumFractionDigits: 2 })}}</td>
														<td md-cell>
															<a href="" ng-show="botoesGestao"
																ng-click="showCustomizacao(true, dadosMatriz.id, dadosMatriz.nome)">
																<md-tooltip md-direction="top">Customização do relatório</md-tooltip> 
																<i class="fa fa-list-alt fa-lg"></i>
															</a>
														</td>
													</tr>
												</tbody>
											</table>
										</md-table-container>
									</md-content>
								</md-tab>
								<md-tab label="Filiais">
									<md-content class="md-padding">
										<md-table-container>
											<table md-table ng-model="selected" md-progress="promise">
												<thead ng-if="!options.decapitate" md-head md-order="query.order"
													md-on-reorder="loadList">
													<tr md-row>
														<th md-column><span>Cod. Filial</span></th>
														<th md-column><span>Filial</span></th>
														<th md-column><span>Qtd. Funcionários</span></th>
														<th md-column><span>Vantagens</span></th>
														<th md-column><span>Descontos</span></th>
														<th md-column><span>Total líquido</span></th>
														<th md-column><span>Ações</span></th>
													</tr>
												</thead>
												<tbody md-body>
													<tr md-row md-select="item" md-select-id="item" md-auto-select
														ng-repeat="item in list.data">
														<td md-cell>{{item.codigo}}</td>
														<td md-cell>{{item.nome}}</td>
														<td md-cell>{{item.quantidadeFuncionarios}}</td>
														<td md-cell>R$ {{(item.vantagens).toLocaleString('pt-BR', { minimumFractionDigits: 2 })}}</td>
														<td md-cell>R$ {{(item.descontos).toLocaleString('pt-BR', { minimumFractionDigits: 2 })}}</td>
														<td md-cell>R$ {{(item.totalLiquidos).toLocaleString('pt-BR', { minimumFractionDigits: 2 })}}</td>
														<td md-cell>
															<a href="" ng-show="botoesGestao"
																ng-click="showCustomizacao(false, item.id, item.nome)">
																<md-tooltip md-direction="top">Ações</md-tooltip> 
																<i class="fa fa-list-alt fa-lg"></i>
															</a>
														</td>
													</tr>
												</tbody>
											</table>
										</md-table-container>
										<md-table-pagination
											md-label="{page: 'Página:', rowsPerPage: 'Registros por página:', of: 'de'}"
											md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
											md-total="{{list.count}}" md-on-paginate="loadList" md-page-select>
										</md-table-pagination>
									</md-content>
								</md-tab>
							</md-tabs>
						</md-card>
					</article>

				</div>
			</div>
		</div>
	</div>
</div>