<div class="page" ng-controller="correcaoSalarialFormCtrl">
        <div class="row ui-section">
            <div class="col-lg-8 clearfix">
                <h2 class="section-header">{{!detalhes ? 'Formulário Correção Salarial' : 'Detalhes da Correção Salarial'}}</h2>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                    <div layout-padding>
                                        <form ng-disabled="detalhes" name="correcaoForm" ng-submit="save()">
                                                <md-tabs md-dynamic-height md-border-bottom>
                                                        <md-tab label="Filtros">
                                                            <md-content class="md-padding">
                                                                <div class="divider divider"></div>
                                                                <div layout layout-sm="column">
                                                                    <div class="col-md-4 text-center" style="margin-top: 0px; margin-left: 148px;">
                                                                        <md-input-container class="md-block">
                                                                            <label>Data da Competência</label>
                                                                            <md-icon class="material-icons icon-momentpicker" ng-class="md-datepicker-calendar-icon"
                                                                                aria-label="md-calendar">date_range</md-icon>
                                                                            <input name="dataCompetencia" moment-picker="correcao.dataCompetencia" placeholder="Selecione a data" ng-model="correcao.dataCompetencia" format="DD/MM/YYYY" locale="pt-br" start-view="month"
                                                                                ng-model-options="{ updateOn: 'blur' }" ng-disabled="detalhes" ng-required="true">
                                                                            <div ng-if="correcaoForm.dataCompetencia.$dirty" class="has-error" style="margin-top: 5px" ng-messages="correcaoForm.dataCompetencia.$error"
                                                                                multiple role="alert">
                                                                            <div ng-message="required">Campo de preenchimento obrigatório.</div>
                                                                            </div>
                                                                        </md-input-container>
                                                                    </div>
                                                                    <div class="col-md-4 text-center">
                                                                        <md-input-container flex>
                                                                            <label>Tipo de Processamento</label>
                                                                            <md-select ng-disabled="detalhes" ng-model="correcao.tipoProcessamentoId" name="tipoProcessamentoId" required>
                                                                                <md-option ng-repeat="processamento in list.tipoProcessamento" value="{{processamento.id}}">
                                                                                    {{processamento.descricao}}
                                                                                </md-option>
                                                                            </md-select>
                                                                            <div ng-messages="correcaoForm.tipoProcessamentoId.$error" role="alert" multiple>
                                                                                <div ng-message="required">Campo de preenchimento obrigatório.</div>
                                                                            </div>
                                                                        </md-input-container>
                                                                    </div>
                                                                </div>
                                                                <div layout layout-sm="column">
                                                                    <md-input-container flex>
                                                                        <label>Empresa</label>
                                                                        <md-select ng-disabled="detalhes" ng-model="correcao.empresaId" name="empresaId">
                                                                            <md-option value={{null}}><em>-- Selecione --</em></md-option>
                                                                            <md-option ng-repeat="empresa in list.empresa" value="{{empresa.id}}">
                                                                                {{empresa.nomeFilial}}
                                                                            </md-option>
                                                                        </md-select>
                                                                    </md-input-container>
                                                                    <md-input-container flex>
                                                                        <label>Filial</label>
                                                                        <md-select ng-disabled="detalhes" ng-model="correcao.filialId" name="filialId">
                                                                            <md-option value={{null}}><em>-- Selecione --</em></md-option>
                                                                            <md-option ng-repeat="filial in list.filial" value="{{filial.id}}">
                                                                                {{filial.nomeFilial}}
                                                                            </md-option>
                                                                        </md-select>
                                                                    </md-input-container>
                                                                </div>
                                                                <div layout layout-sm="column">
                                                                    <md-input-container flex>
                                                                        <label>Lotação</label>
                                                                        <md-select ng-disabled="detalhes" ng-model="correcao.lotacaoId" name="lotacaoId">
                                                                            <md-option value={{null}}><em>-- Selecione --</em></md-option>
                                                                            <md-option ng-repeat="lotacao in list.lotacao" value="{{lotacao.id}}">
                                                                                {{lotacao.descricao}}
                                                                            </md-option>
                                                                        </md-select>
                                                                    </md-input-container>
                                                                    <md-input-container flex>
                                                                        <label>Centro de Custo</label>
                                                                        <md-select ng-disabled="detalhes" ng-model="correcao.centroCustoId" name="centroCustoId">
                                                                            <md-option value={{null}}><em>-- Selecione --</em></md-option> 
                                                                            <md-option ng-repeat="centroCusto in list.centroCusto" value="{{centroCusto.id}}">
                                                                                {{centroCusto.descricao}}
                                                                            </md-option>
                                                                        </md-select>
                                                                    </md-input-container>
                                                                </div>
                                                                <div layout layout-sm="column">
                                                                    <md-input-container flex>
                                                                        <label>Sindicato</label>
                                                                        <md-select ng-disabled="detalhes" ng-model="correcao.sindicatoId" name="sindicatoId">
                                                                            <md-option value={{null}}><em>-- Selecione --</em></md-option>    
                                                                            <md-option ng-repeat="sindicato in list.sindicato" value="{{sindicato.id}}">
                                                                                {{sindicato.descricao}}
                                                                            </md-option>
                                                                        </md-select>
                                                                    </md-input-container>
                                                                    <md-input-container flex>
                                                                        <label>Função</label>
                                                                        <md-select ng-disabled="detalhes" ng-model="correcao.funcaoId" name="funcaoId">
                                                                            <md-option value={{null}}><em>-- Selecione --</em></md-option>
                                                                            <md-option ng-repeat="funcao in list.funcao" value="{{funcao.id}}">
                                                                                {{funcao.descricao}}
                                                                            </md-option>
                                                                        </md-select>
                                                                    </md-input-container>
                                                                </div>
                                                                <div layout layout-sm="column">
                                                                    <md-input-container flex>
                                                                        <label>Nível Salarial</label>
                                                                        <md-select ng-disabled="detalhes" ng-model="correcao.nivelSalarialId" name="nivelSalarialId">
                                                                            <md-option value={{null}}><em>-- Selecione --</em></md-option>
                                                                            <md-option ng-repeat="nivelSalarial in list.nivelSalarial" value="{{nivelSalarial.id}}">
                                                                                {{nivelSalarial.descricao}}
                                                                            </md-option>
                                                                        </md-select>
                                                                    </md-input-container>
                                                                    <md-input-container flex>
                                                                        <label>Tipo de Folha</label>
                                                                        <md-select ng-disabled="detalhes" ng-model="correcao.tipoFolhaId" name="tipoFolhaId">
                                                                            <md-option value={{null}}><em>-- Selecione --</em></md-option>
                                                                            <md-option ng-repeat="tipoFolha in list.tipoFolha" value="{{tipoFolha.id}}">
                                                                                {{tipoFolha.descricao}}
                                                                            </md-option>
                                                                        </md-select>
                                                                    </md-input-container>
                                                                </div>
                                                                <div layout layout-sm="column">
                                                                    <md-input-container flex>
                                                                        <label>Situação</label>
                                                                        <md-select ng-disabled="detalhes" ng-model="correcao.situacaoId" name="situacaoId">
                                                                            <md-option value={{null}}><em>-- Selecione --</em></md-option>
                                                                            <md-option ng-repeat="situacao in list.situacao" value="{{situacao.id}}">
                                                                                {{situacao.descricao}}
                                                                            </md-option>
                                                                        </md-select>
                                                                    </md-input-container>
                                                                    <md-input-container flex>
                                                                        <label>Código de Verba</label>
                                                                        <md-select ng-disabled="detalhes" ng-model="correcao.verbaId" name="verbaId">
                                                                            <md-option value={{null}}><em>-- Selecione --</em></md-option>
                                                                            <md-option ng-repeat="verba in list.verba" value="{{verba.id}}">
                                                                                {{verba.descricaoVerba}}, Cód: {{verba.codigo}}
                                                                            </md-option>
                                                                        </md-select>
                                                                    </md-input-container>
                                                                </div>
                                                            </md-content>
                                                        </md-tab>
                                                        <md-tab label="Parâmetros a serem alterados">
                                                            <md-content class="md-padding">
                                                                <div class="divider divider"></div>
                                                                <div layout layout-sm="column">
                                                                    <md-input-container flex>
                                                                        <label>Valor Faixa I</label>
                                                                        <input ng-disabled="detalhes" ng-model="correcao.valorFaixaI" name="valorFaixaI" ui-number-mask="3">
                                                                    </md-input-container>
                                                                    <md-input-container flex>
                                                                        <label>Valor Faixa II</label>
                                                                        <input ng-disabled="detalhes" ng-model="correcao.valorFaixaII" name="valorFaixaII" ui-number-mask="3">
                                                                    </md-input-container>
                                                                    <md-input-container flex>
                                                                        <label>% de Aumento</label>
                                                                        <input ng-disabled="detalhes" ng-model="correcao.percentualAumento" name="percentualAumento" ui-number-mask="2">
                                                                    </md-input-container>
                                                                    <md-input-container flex>
                                                                        <label>% de Produto</label>
                                                                        <input ng-disabled="detalhes" ng-model="correcao.percentualProduto" name="percentualProduto" ui-number-mask="2">
                                                                    </md-input-container>
                                                                    <md-input-container flex>
                                                                        <label>Valor do Produto</label>
                                                                        <input ng-disabled="detalhes" ng-model="correcao.valorProduto" name="valorProduto" ui-number-mask="3">
                                                                    </md-input-container>
                                                                    <md-input-container flex>
                                                                        <label>Valor do Piso</label>
                                                                        <input ng-disabled="detalhes" ng-model="correcao.valorPiso" name="valorPiso" ui-number-mask="3">
                                                                    </md-input-container>
                                                                </div>
                                                                <div layout layout-sm="column">
                                                                    <md-input-container flex>
                                                                        <label>Tipo de Arredondamento</label>
                                                                        <md-select ng-disabled="detalhes" ng-model="correcao.tipoArredondamento" name="tipoArredondamento">
                                                                            <md-option value={{null}}><em>-- Selecione --</em></md-option>
                                                                            <md-option ng-repeat="tipo in list.tipoArredondamento" value="{{tipo.value}}">
                                                                                {{tipo.label}}
                                                                            </md-option>
                                                                        </md-select>
                                                                    </md-input-container>
                                                                    <md-input-container flex>
                                                                        <label>Valor Arrendamento</label>
                                                                        <input ng-disabled="detalhes" ng-model="correcao.valorArrendamento" name="valorArrendamento" ui-number-mask="3">
                                                                    </md-input-container>
                                                                    <md-input-container flex>
                                                                        <label>Atualiza Mês</label>
                                                                        <input ng-disabled="detalhes" ng-model="correcao.atualizaMes" name="atualizaMes" ui-number-mask="0">
                                                                    </md-input-container>
                                                                    <md-input-container flex>
                                                                        <label>Avos</label>
                                                                        <input ng-disabled="detalhes" ng-model="correcao.avos" name="avos" ui-number-mask="0">
                                                                    </md-input-container>
                                                                </div>
                                                            </md-content>
                                                        </md-tab>
                                                        <md-tab label="Efeito Retroativo">
                                                            <md-content class="md-padding">
                                                                <div class="divider divider"></div>
                                                                <div layout layout-sm="column">
                                                                    <div class="col-sm-6 p-l-0 padrao-check-box-externo">
                                                                        <div class="col-sm-6 p-l-0 padrao-check-box-interno" style="width: 200px;">
                                                                            <strong style="display: inline-block; width: 100px; color: rgb(0,150,136)">Abono</strong>
                                                                            <md-checkbox ng-disabled="detalhes" ng-model="correcao.abono" ng-change="limpaVerbaAbono()" aria-label="Checkbox 1"></md-checkbox>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 p-r-0">
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-body">
                                                                                <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                                                                    <h5 style="color: rgb(0,150,136)">Abono (Verba Abono)</h5>
                                                                                    <div layout layout-sm="column">
                                                                                        <md-input-container flex class="m-b-0">
                                                                                            <label>Verba de Abono</label>
                                                                                            <input ng-disabled="detalhes || !correcao.abono" ng-model="correcao.verbaAbono" name="verbaAbono" ui-number-mask="0">
                                                                                        </md-input-container>
                                                                                        <md-input-container class="md-block">
                                                                                            <label>Retorativo a partir de:</label>
                                                                                            <md-icon class="material-icons icon-momentpicker" ng-class="md-datepicker-calendar-icon"
                                                                                                aria-label="md-calendar">date_range</md-icon>
                                                                                            <input name="retroativo" moment-picker="correcao.retroativo" placeholder="Selecione a data" ng-model="correcao.retroativo" format="DD/MM/YYYY" locale="pt-br" start-view="month"
                                                                                                ng-model-options="{ updateOn: 'blur' }" ng-disabled="detalhes || correcao.abono">
                                                                                        </md-input-container>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </md-content>
                                                        </md-tab>
                                                </md-tabs>
                                            <br/>
                                            <div ng-if="detalhes" layout layout-sm="column">
                                                <table md-table md-progress="promise">
                                                    <thead md-head>
                                                        <tr md-row>
                                                            <th md-column>
                                                                <span>Criado em:</span>
                                                            </th>
                                                            <th md-column>
                                                                <span>Atualizado em:</span>
                                                            </th>
                                                            <th md-column>
                                                                <span>Criado por:</span>
                                                            </th>
                                                            <th md-column>
                                                                <span>Atualizado por:</span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody md-body>
                                                        <tr md-row>
                                                            <td md-cell>{{correcao.criadoEm | date:'dd/MM/yy - HH:mm'}}</td>
                                                            <td md-cell>{{correcao.alteradoEm | date:'dd/MM/yy - HH:mm'}}</td>
                                                            <td md-cell>{{correcao.criadoPor}}</td>
                                                            <td md-cell>{{correcao.alteradoPor}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button ng-if="!detalhes" ng-disabled="correcaoForm.$invalid" type="submit" ui-wave class="btn btn-primary btn-w-md">
                                                        <md-tooltip ng-if="correcaoForm.$invalid" md-direction="top">Preencha todos os campos obrigatórios.</md-tooltip>
                                                        Salvar
                                                    </button>
                                                    <p class="btn btn-default btn-w-md" ui-wave data-ng-click="goBack()">Voltar</p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>