<div class="page" ng-controller="requisicaoPessoalGestaoCtrl">
    <div class="row ui-section">
        <div class="col-lg-12 clearfix">
            <h2 class="section-header" style="float: left;">Gestão de Requisições</h2>
            <div style="float: right">
                <span class="space"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <article class="article">
                        <md-card class="no-margin-h">
                            <div layout="column">
                                <div layout-padding>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>Processo ou situação</label>
                                            <input ng-model="busca" ng-change="loadList()"
                                                placeholder="Buscar por processo ou situação"
                                                ng-keypress="($event.keyCode === 13) && loadList()">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Filtrar por Situação</label>
                                            <md-select ng-change="loadList()" name="situacao" ng-model="situacao">
                                                <md-option ng-value=null><em>-- Selecione --</em></md-option>
                                                <md-option ng-repeat="tc in list.situacoes" value="{{tc.label}}">
                                                    {{tc.label}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-button class="md-icon-button" ng-click="busca = null">
                                            <md-tooltip md-direction="top">Limpar Filtros</md-tooltip>
                                            <md-icon>autorenew</md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button" ng-click="loadList()">
                                            <md-tooltip md-direction="top">Atualizar</md-tooltip>
                                            <md-icon>refresh</md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                            <md-table-container>
                                <table md-table ng-model="selected" md-progress="promise">
                                    <thead md-head md-order="query.order" md-on-reorder="loadList">
                                        <tr md-row>
                                            <th md-column md-order-by="descricao">
                                                <span>Processo</span>
                                            </th>
                                            <th md-column>
                                                <span>Data Limite</span>
                                            </th>
                                            <th md-column>
                                                <span>Solicitante</span>
                                            </th>
                                            <th md-column>
                                                <span>Situação</span>
                                            </th>
                                            <th md-column>
                                                <span>Ações</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row md-select="item" md-select-id="item" md-auto-select
                                            ng-repeat="item in list.data">
                                            <td md-cell>{{item.id}}</td>
                                            <td md-cell><span ng-dt-limit>{{item.dataLimite | date:'dd/MM/yy'}}</span>
                                            </td>
                                            <td md-cell>{{item.solicitante.nome}}</td>
                                            <td md-cell>{{item.situacao}}</td>
                                            <td md-cell>
                                                <a href=""
                                                    ui-sref="requisicaoPessoalGestaoDetalhes({ id: item.id, detalhes: true })">
                                                    <md-tooltip md-direction="top">Detalhes Cadastrais</md-tooltip>
                                                    <span class="fa-stack fa-lg">
                                                        <i class="fa fa-circle-o fa-stack-2x"></i>
                                                        <i class="fa fa-eye fa-stack-1x"></i>
                                                    </span>
                                                </a>
                                                <a ng-if="item.situacao == 'Em Processo'"
                                                    ui-sref="requisicaoPessoalGestaoEdit({ id: item.id })">
                                                    <md-tooltip md-direction="top">Editar</md-tooltip>
                                                    <span class="fa-stack fa-lg">
                                                        <i class="fa fa-circle-o fa-stack-2x"></i>
                                                        <i class="fa fa-pencil fa-stack-1x"></i>
                                                    </span>
                                                </a>

                                                <a ui-sref="requisicaoPessoalCadastroCurriculo({id: item.id})"
                                                    ng-if="item.situacao == 'Aprovado'">
                                                    <md-tooltip md-direction="top">Vincular candidatos</md-tooltip>
                                                    <span class="fa-stack fa-lg">
                                                        <i class="fa fa-circle-o fa-stack-2x"></i>
                                                        <i class="fa fa-user fa-stack-1x"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                            <md-table-pagination
                                md-label="{page: 'Página:', rowsPerPage: 'Registros por página:', of: 'de'}"
                                md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
                                md-total="{{list.count}}" md-on-paginate="loadList" md-page-select>
                            </md-table-pagination>
                        </md-card>
                    </article>

                </div>
            </div>
        </div>
    </div>
</div>