<div class="page" ng-controller="acidenteTrabalhoCtrl">
    <div class="row ui-section">
        <div class="col-lg-12 clearfix">
            <h2 class="section-header" style="float: left;">Gestão de Acidentes de Trabalho</h2>
            <div style="float: right">
                <md-button class="md-fab md-primary" ng-href="" ng-click="showRelatorio()">
                    <md-tooltip md-direction="bottom">Relatório</md-tooltip>
                    <span class="fa fa-file-pdf-o"></span>
                </md-button>
                <md-button class="md-fab md-accent" ng-href="#!/acidenteTrabalho/formulario">
                    <md-tooltip md-direction="bottom">Novo acidente de trabalho</md-tooltip>
                    <span class="fa fa-plus"></span>
                </md-button>
                <span class="space"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <article class="article">
                        <md-card class="no-margin-h">
                            <div layout="column">
                                <div layout-padding>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>Nome ou Matricula</label>
                                            <input ng-model="nomeOuMatriculaBusca"
                                                placeholder="Buscar por nome ou matricula..."
                                                ng-keypress="($event.keyCode === 13) && loadList()">
                                        </md-input-container>
                                        <md-button class="md-icon-button" ng-click="nomeOuMatriculaBusca = null;">
                                            <md-tooltip md-direction="top">Limpar Filtros</md-tooltip>
                                            <md-icon>autorenew</md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button" ng-click="loadList()">
                                            <md-tooltip md-direction="top">Atualizar</md-tooltip>
                                            <md-icon>refresh</md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </div>

                            <md-table-container>
                                <table md-table ng-model="selected" md-progress="promise">
                                    <thead md-head md-order="query.order" md-on-reorder="loadList">
                                        <tr md-row>
                                            <th md-column>
                                                <span>Funcionário</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div ng-repeat="item in list.data">
                                    <div class="accordion" ng-click="accordion()">{{item.nome}}
                                    </div>
                                    <div class="accordion-content">
                                        <p style="float: left;">{{acidenteDeTrabalho.aviso}}</p>
                                        <md-table-container>
                                            <table md-table>
                                                <thead md-head>
                                                    <tr md-row>
                                                        <th md-column md-order-by="nome">
                                                            <span>Aviso</span>
                                                        </th>
                                                        <th md-column>
                                                            <span>Ações</span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody md-body>
                                                    <tr md-row
                                                        ng-repeat="acidenteDeTrabalho in item.acidentesDeTrabalho">
                                                        <td md-cell>{{acidenteDeTrabalho.aviso}}</td>
                                                        <td md-cell>
                                                            <a href=""
                                                                ui-sref="acidenteTrabalhoFormularioEdit({ id: acidenteDeTrabalho.id })">
                                                                <md-tooltip md-direction="top">Editar acidente de
                                                                    trabalho</md-tooltip>
                                                                <i class="fa fa-pencil fa-lg"></i>
                                                            </a>
                                                            <a href=""
                                                                ui-sref="acidenteTrabalhoFormularioDetalhes({ id: acidenteDeTrabalho.id, detalhes: true })">
                                                                <md-tooltip md-direction="top">Detalhes Cadastrais
                                                                </md-tooltip>
                                                                <i class="fa fa-search fa-lg"></i>
                                                            </a>
                                                            <a href=""
                                                                ng-click="showConfirm($event,acidenteDeTrabalho.id)">
                                                                <md-tooltip md-direction="top">Excluir</md-tooltip>
                                                                <i class="fa fa-trash-o fa-lg"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </md-table-container>
                                    </div>
                                </div>
                            </md-table-container>
                            <md-table-pagination
                                md-label="{page: 'Página:', rowsPerPage: 'Registros por página:', of: 'de'}"
                                md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
                                md-total="{{list.count}}" md-on-paginate="loadList" md-page-select>
                            </md-table-pagination>
                        </md-card>
                    </article>

                </div>
            </div>
        </div>
    </div>
</div>