<md-dialog>
    <form ng-cloak>
        <md-toolbar>
            <div style="background-color: #01722c" class="md-toolbar-tools">
                <h2>Filtragem de Dados</h2>
                <span flex></span>
                <a href="" ng-click="cancel()">
                    <i class="fa fa-close"></i>
                </a>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="page">
                <div class="row ui-section">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <strong style="color: #01722c">Pesquisar por:</strong>
                                        <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                            <div layout-padding>
                                                <div layout layout-sm="column">
                                                        <fieldset class="demo-fieldset" >
                                                            <legend class="demo-legend">Área de formação</legend>
                                                            <div layout="row" layout-wrap flex>
                                                            <div flex-xs flex="50">
                                                                <md-checkbox aria-label="Todos"
                                                                            ng-checked="isChecked(lista.areasFormacao, filtro.areasFormacao)"
                                                                            md-indeterminate="isIndeterminate(lista.areasFormacao, filtro.areasFormacao)"
                                                                            ng-click="toggleAll(lista.areasFormacao, filtro.areasFormacao)">
                                                                <b>Todos</b>
                                                                </md-checkbox>
                                                            </div>
                                                                <div flex="100" ng-repeat="item in lista.areasFormacao">
                                                                    <md-checkbox style="margin-bottom: 0;" ng-checked="exists(item, filtro.areasFormacao)" ng-click="toggle(item, filtro.areasFormacao)">
                                                                        {{ item.areaFormacao }}
                                                                    </md-checkbox>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <fieldset class="demo-fieldset" >
                                                            <legend class="demo-legend">Grau Acadêmico</legend>
                                                            <div layout="row" layout-wrap flex>
                                                            <div flex-xs flex="50">
                                                                <md-checkbox aria-label="Todos"
                                                                            ng-checked="isChecked(lista.grausAcademicos, filtro.grausAcademicos)"
                                                                            md-indeterminate="isIndeterminate(lista.grausAcademicos, filtro.grausAcademicos)"
                                                                            ng-click="toggleAll(lista.grausAcademicos, filtro.grausAcademicos)">
                                                                <b>Todos</b>
                                                                </md-checkbox>
                                                            </div>
                                                                <div flex="100" ng-repeat="grau in lista.grausAcademicos">
                                                                    <md-checkbox style="margin-bottom: 0;" ng-checked="exists(grau, filtro.grausAcademicos)" ng-click="toggle(grau, filtro.grausAcademicos)">
                                                                        {{ grau.nome }}
                                                                    </md-checkbox>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </md-chips>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md-dialog-content text-center">
                <button class="btn btn-primary btn-w-md" ng-click="clickDialog()">Aplicar Filtros</button>
            </div>
        </md-dialog-content>

    </form>
</md-dialog>